* {
  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content: center;
}

.Box {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 20px;
}

button {
  border: 1px solid gray;
  background: whitesmoke;
  margin: 0 5px 5px 0;
}

button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}